@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #5345B9;
  --primary-hover: #FE9A60;
  --secondary-color: #FE9A60;
  --accent-color: #FE9A60;
  --accent-hover: #e8874e;
}

* {
  font-family: 'Poppins', sans-serif !important;
}
